.smallcard {
    max-width: 450px; 
    padding: 24px; 
    margin: 0 auto; 
    box-sizing: border-box; 
    
}

.container {
    margin-left: 20px; /* Add some space between selection and stats */
    align-self: flex-start; /* Align the stats component to the top */
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    flex: 1; /* Ensure it takes up remaining space */
    max-width: 500px;
}
.positioning {
    position: absolute;
    bottom: 80px; /* Adjust as needed */
    right: 30px; /* Adjust as needed */
    max-width: 500px;
}