.item {
  display: flex;
  align-items: center;
  border-radius: var(--mantine-radius-md);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-xl);
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-5));
  margin-bottom: var(--mantine-spacing-sm);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  max-width: 1200px; 
}


.symbol {
  font-size: rem(20px);
  font-weight: 700;
  width: rem(60px);
  margin-right: 78px; 
}

.category-easy:hover {
  background-color: #35F53B; /* Change background color on hover for easy */
  color: white; /* Change text color on hover */
}

.category-hard:hover {
  background-color: #F3360D ; /* Change background color on hover for hard */
  color: white; /* Change text color on hover */
}

.category-medium:hover {
  background-color: yellow; /* Change background color on hover for medium */
  color: black; /* Change text color on hover */
}

.link {
  text-decoration: none;
  color: inherit; 
}